Nep framework is a lite php framework especially for app developers.
This framework doesnot force a programmer to write his/her code in the given syntax but accepts native php and the programmers are allowed 
to use the core php for their easy coding.

It uses mysql server .

To setup:
1) Enter mysql server username and password.
2) Submit your desired database name.
3) Then move to nep-admin and start making controllers extending same base class.

info:
This faramework is mostly based on get and post requests in their native way.
